# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Data & models
train/
test/
*.h5
*.keras
models/
logs/
dog-breed-identification.zip
preds_array.csv
sample_submission.csv
full_model_predictions_submission_1_mobilenetV2.csv
labels.csv

# Colab / Drive
.DS_Store

